@model ICSI_UDIN.Models.MemberRegistration
@{
    ViewBag.Title = "Membership Registation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("MembershipRegistation", "Home"))
{
    <div class="container">
        <div id="loginformblock">

            <div class="card loginformRegistrn">
                <h3 class="formgheader">FIRST TIME REGISTRATION FOR MEMBERS</h3>
                <form>
                    <p class="RegistrnFormPara">
                        Please fill below details to register on UDIN Portal. Credentials will
                        sent on the Email ID and Mobile number as
                        registered with ICAI
                        <br />
                        <label style="color:red;">@ViewBag.ErrorMsg</label>
                    </p>
                    <div class="form-group siderbarlgnform">
                        <label>ACS/FCS:&nbsp;</label>
                        @Html.DropDownList("premember", new List<SelectListItem>
                        {
                           new SelectListItem{ Text="--Select--", Value = "0" },
                           new SelectListItem{ Text="A", Value = "1" },
                           new SelectListItem{ Text="F", Value = "2" }
                        })
                    </div>
                    <div class="form-group siderbarlgnform">
                        @*<input type="text" class="form-control formblock" id="MRN" value="Membership Number (MRN)" name="MRN">*@
                        @Html.EditorFor(model => model.MRN, new { htmlAttributes = new { @class = "form-control formblock", @placeholder = "Membership Number (MRN)" } })
                        @Html.ValidationMessageFor(model => model.MRN, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group siderbarlgnform">
                        @*<input type="text" class="form-control formblock" id="DOB" value="Date of Birth (DD/MM/YY)" name="DOB">*@
                        @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control formblock", @placeholder = "Date of Birth (DD/MM/YY)" } })
                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                    </div>
                    @*<div class="form-group siderbarlgnform">
                            <input type="text" class="form-control formblock" id="pwd" value="Year of Enrolment" name="pwd">
                        </div>*@
                    <div class="SendOtpBtn">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
   if (@ViewBag.ErrorMsg== 1) {
       myFunction();
   }
   function myFunction() {
       var url = '@ViewBag.Path'
       alert('Your Membership No is Validated with ICSI, Please create your Password Now.');
       window.location.href = '@ViewBag.Path';
   }
</script>