
@model ICSI_UDIN.Models.RP_UDINVerification_Result
@{
    ViewBag.Title = "UDINDocumentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    DateTime dt = new DateTime();
    string status = string.Empty;
    if(Model!=null)
    {
        dt = Convert.ToDateTime( Model.DateofSigingDoc);
        status = Model.IsValid == "Y" ? "Active" : Model.IsValid == "1"?"Active":"InActive";


    }
}

<div class="container">
    <div id="loginformblock">
        <div class="card loginformRegistrn">
            <h3 class="formgheader">Document details</h3>
            <form>
                <table class="table table-hover">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Status Date/Time:</td>
                            <td>@dt.ToString("dd-MM-yyyy")</td>
                        </tr>
                        <tr>
                            <td>Unique Document Identification Number(UDIN):</td>
                            <td>@Model.UDINUniqueCode</td>
                        </tr>
                        <tr>
                            <td>Members Details:</td>
                            <td>@Model.MembershipDetilas</td>
                        </tr>
                        <tr>
                            <td>Document Type:</td>
                            <td>@Model.DocumentType</td>
                        </tr>
                        <tr>
                            <td>Type of Certificate:</td>
                            <td>@Model.TypeofCertificate</td>
                        </tr>
                        <tr>
                            <td>Date of Signing of Document:</td>
                            <td>@dt.ToString("dd-MM-yyyy")</td>
                        </tr>
                        @*<tr>
                            <td>Figures/ Particulars:</td>
                            <td>
                                @Model.FigParticular
                            </td>
                            </tr>*@
                        <tr>
                            <td>Document Description: </td>
                            <td>@Model.DocumentDesription</td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>@status</td>
                        </tr>
                    </tbody>
                </table>

                <div class="SendOtpBtn">
                    <button type="button">Print</button>
                </div>
                <div>
                    <p>@ViewBag.Message</p>
                </div>
            </form>
        </div>

        <div class="VerifyBtn">
            <button type="button">VERIFY ANOTHER UDIN/EXIT</button>
        </div>
    </div>
</div>

