
@model ICSI_UDIN.Models.RP_UDINVerification_Result
@{
    ViewBag.Title = "UDINDocumentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="loginformblock">
        <div class="card loginformRegistrn">
            <h3 class="formgheader">Document details</h3>
            <form>
                <table class="table table-hover">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Status Date/Time:</td>
                            <td>@Model.CreatedDate</td>
                        </tr>
                        <tr>
                            <td>Unique Document Identification Number(UDIN):</td>
                            <td>@Model.UDINUniqueCode</td>
                        </tr>
                        <tr>
                            <td>Members Details:</td>
                            <td>@Model.MembershipDetilas</td>
                        </tr>
                        <tr>
                            <td>Document Type:</td>
                            <td>@Model.DocumentType</td>
                        </tr>
                        <tr>
                            <td>Type of Certificate:</td>
                            <td>@Model.TypeofCertificate</td>
                        </tr>
                        <tr>
                            <td>Date of Signing of Document:</td>
                            <td>@Model.DateofSigingDoc</td>
                        </tr>
                        <tr>
                            <td>Figures/ Particulars:</td>
                            <td>
                                @Model.FigParticular
                            </td>
                        <tr>
                            <td>Document Description: </td>
                            <td>@Model.DocumentDesription</td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>@Model.IsValid</td>
                        </tr>
                    </tbody>
                </table>

                <div class="SendOtpBtn">
                    <button type="submit">Print</button>
                </div>
                <div>
                    <p>@ViewBag.Message</p>
                </div>
            </form>
        </div>

        <div class="VerifyBtn">
            <button type="button">VERIFY ANOTHER UDIN/EXIT</button>
        </div>
    </div>
</div>

